/*
$lightblue: #00a3c8;
$steelblue: #004861;

body{
    color: red;
    background-color: #EEE;
}

.large-hero{
    color: $steelblue;
    
    h2{
        color: $lightblue;
    }
}

.columns{
    columns: 3;
}
*/

@import "normalize.css";
@import "base/_variables";
@import "base/_mixins";
@import "base/_global";
@import "modules/_helper";
@import "modules/_grid";
@import "modules/_services";
@import "modules/_testimonial";
@import "modules/_heading";
@import "modules/_counter";
@import "modules/_large-hero";
@import "modules/_btn";
@import "modules/_footer";
@import "modules/_header";
